
// ***********************head**********************
.container_head {
    position:relative;
    display:flex;
    background:$bg_blue;
    padding:1.2rem;
    position:relative;
    .logo {
        font-size:2.4rem;
        line-height:2rem;
        color: $txt_white;
        font-weight: 400;
    }
        .nav_menu {
            display:flex;
            list-style: none;
            margin-left:2rem;
            margin:0px;
            padding:0px;
            line-height:2.8rem;
            margin-left:12rem;
   
            li {
                list-style: none;
                margin-left: 2rem;
            }
                a {
                    text-decoration: none;
                    color:$txt_white;
                    font-weight:400;
                }
                    i {
                        margin:0 0.2rem;
                        color:$txt_white;
                }
// ****************dropdown***********
                    .dropdown {
                        
                        background: rgba(255, 255, 255, 0.9);
                        position: absolute;
                        width:7rem;
                        height:0;
                        transition:all 0.8s ;
                        margin-left:-0.8rem;
                                a {
                                    color:$txt_black;
                                    opacity: 0;
                                    font-weight:500;
                                }

                        }
                }
            }
            .nav_menu li:hover .dropdown {
                height:140px;
                border-radius:10px;
               
            }
            .nav_menu li:hover .dropdown a {
                opacity: 1;
            }
// **************************section1 **************************

main {
    .grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        .heading {
            font-size: 2.7rem;
            line-height:3.2rem;
            font-weight:700;
            color:$txt_white;
            margin:3.8rem 0;
            letter-spacing: 0.2rem;
        }
        .text {
            font-size:1rem;
            color:$txt_grey;
            line-height:1.5rem;
            letter-spacing:0.2rem;
            padding:0 1rem 0 0;
            margin:1.5rem 0;

        }
        .btn {
            font-size:1rem;
            color:$txt_white;
            line-height: 1.5rem;
            padding: 0.4rem 0.8rem;
            background:rgba(255,255,255,0.6);
            border:none;
            margin:1rem 0;

        }
        .img_head {
            position:absolute;
            top:0;
            right:0;
            width:53%;
            }
            .img_boat {
                width:100%;
                border-radius:50%;
                border-top-right-radius: 0;
                
                }
            }
        }
            
        // **********************section4*******************   
            .section_4 {
                .section_4_container {
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                        .section_4_image_container{
                            .img_section_4 {
                                width:100%;
                                height: 100%;
                                font-size:0;
                                height:fit-content;
                            }
                        }
                        .section_4_text_container {
                            background:$bg_black;
                            padding:4.5rem 7rem;
                            word-spacing:0.3rem;
                            .section_4_head {
                                font-size:2.1rem;
                                color:$txt_white;
                                font-weight:500;
                                line-height:2.8rem;
                            }
                            p {
                                padding:1rem 0;
                            }
                        } 
    
                }
                
            }
          
                    
           
        
        


    
    





