// **************container_img_text****************
.container_img_text {
    display:grid;
    grid-template-columns: 3fr 2fr;
    
    .container_img {
        .img_boat {
            width:100%;
            height:100%;
        }
    }
    .container_text {
        background:$bg_white;
        padding:4.5rem 7rem;
        word-spacing:0.3rem;
        h2 {
            font-size:1.4rem;
            color:$txt_black;
            font-weight:500;
            line-height:1.8rem;
        }
        p {
            padding:1rem 0;
        }
}
}