// *******************body*************
html {
    font-size:16px;
}
body {
    h2, h1 ,h3, h4, h5, h6 {
        font-family: 'Fira Sans', sans-serif;
    }
    p , a ,li ,button, span ,input ,textarea {
        font-family: 'Source Sans Pro', sans-serif;
    }
    
}

// ********************text/background***************
$txt_white: #ffffff;
$txt_black: #000000;
$txt_blue: #08165F;
$txt_grey: #8E8E8E;
$bg_blue: #08165F;
$bg_white: #ffffff;
$bg_grey: #F5F5F5;
$bg_green: #55A747;
$bg_red: #B23249;
$bg_yellow: #F8C133;
$bg_sky: #0062CC;
$bg_black: #000000;

// *************************Wrapper****************
.wrapper {
    max-width:1300px;
    margin:0 auto;
}
.wrapper2 {
    max-width:1150px;
    margin:0 auto;
}

// ****************************button**************
.btn {
    font-size:1rem;
    color:$txt_white;
    line-height: 1.5rem;
    padding: 0.5rem 0.9rem;
    background:rgba(255,255,255,0.6);
    border:none;
    margin:1rem 0;
}
.btn2 {
    background:$bg_blue;
    margin:1.5rem 0;
}

// **************************icons*******************
.icons {
    font-size:1.9rem;
    padding:1.5rem;
    border-radius:50%;
    color:$txt_white;
}
.bg_green { background:$bg_green; }
.bg_yellow { background:$bg_yellow; }
.bg_blue { background:$bg_sky;}
.bg_red {background:$bg_red;}

// **************************icons_text*******************
.icons_text {
    font-size:1.3rem;
    font-weight:500;
    padding:1rem;
}
.icon_sub_text {
    line-height:1.8rem;
    color:$txt_grey;
    font-size:0.9rem;
    font-weight:400;
    word-spacing:0.1rem;
}
// **************************** *************** section_1 *****************************

.section_1 {
    background:$bg_blue;
}
.section_1_container_1 {
    padding:4.9rem 4.2rem 4.9rem 0;
}




// **************************************** header *********************************


.container_head2 {
    position:relative;
    display:flex;
    background:$bg_blue;
    padding:1.2rem 0 12rem 1.5rem;
    position:relative;
    background:url(../media/head.jpg)no-repeat;
    background-size: cover;
    background-position:center;
    .logo {
        font-size:2.4rem;
        line-height:2rem;
        color: $txt_white;
        font-weight: 400;
    }
        .nav_menu {
            display:flex;
            list-style: none;
            margin:0px;
            padding:0px;
            line-height:2.8rem;
            margin-left:12rem;
   
            li {
                list-style: none;
                margin-left: 2rem;
            }
                a {
                    text-decoration: none;
                    color:$txt_white;
                    font-weight:400;
                }
                    i {
                        margin:0 0.2rem;
                        color:$txt_white;
                }
// ***************************dropdown****************************
                    .dropdown {
                        
                        background: rgba(255, 255, 255, 0.9);
                        position: absolute;
                        width:7rem;
                        height:0;
                        transition:all 0.8s ;
                        margin-left:-0.8rem;
                                a {
                                    color:$txt_black;
                                    opacity: 0;
                                    font-weight:500;
                                }

                        }
                }
            }
            .nav_menu li:hover .dropdown {
                height:140px;
                border-radius:10px;
               
            }
            .nav_menu li:hover .dropdown a {
                opacity: 1;
            }






//**********************************home_section_about_gallery_******************

.section_1_contact {
    padding:1.3rem;
    background:#EAEAEA;
    box-shadow:2px 2px 5px #EAEAEA;
    p {
        display:inline-block;
        color:$txt_blue;
        font-size:1rem;
        font-weight:600;
        margin-right:0.3rem;
    }
    span {
        font-size:0.9rem;
        font-weight:400;
        margin-left:0.3rem;
    }
}

 // ********************************* About us *************************************


              .section_2 {
                padding:5rem 0;
                .grid {
                    display:grid;
                    width:70%;
                    .section_2_container_1 {
                        text-align:right;
                        padding:4rem 1.8rem;
                        h3 {
                            font-size:1.5rem;
                            font-weight:500;
                            color:$txt_grey;
                            line-height: 1.5rem;
                        }
                        h2 {
                            font-size:1.8rem;
                            line-height:2.2rem;
                            font-weight:700;
                            color:$txt_black;
                            padding:1.5rem 0;

                        }
                        p {
                            line-height:1.8rem;
                            color:$txt_grey;
                            font-size:0.9rem;
                            font-weight:400;
                            word-spacing:0.1rem;

                        }
                        button {
                            background:$bg_blue;
                        }
                    }
                    .section_2_container_2 {
                        display:flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        .box {
                            display:flex;
                            width: 13rem;
                            height:11rem;
                            background:$bg_grey;
                            margin:1rem;
                            box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.6);
                            align-items:center;
                            justify-content: center;
                                .icon{
                                    background: $bg_yellow;
                                }
                        }
                        .box1 {
                            background:$bg_grey;
                            margin-top:2rem;
                                .icon1 {
                                    background:$bg_red;
                                }
                        }
                        .box {
                            padding-bottom:2rem;
                            .icon2 {
                                background:$bg_sky;
                            }
                            h3 {
                                position:absolute;
                                margin-top:8rem;
                                font-size:1.3rem;
                                font-weight:500;
                                
                            }
                        }
                        .box {
                            .icon3 {
                                background:$bg_green;
                            }
                        }
                    }
                }
            }




// ************************************ services ***************************************




.section_3 {
    padding:5rem 0;
    background:$bg_grey;
    .services_head {
        text-align:center;
        h3 {
            font-size:1.5rem;
            font-weight:500;
            color:$txt_grey;
            line-height: 1.5rem;
        }
        h2 {
            font-size:1.8rem;
            line-height:2.2rem;
            font-weight:700;
            color:$txt_black;
            padding:1.5rem 0;

        }
    }
        .services_container {
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            align-items:center;
            grid-gap:2rem;
            margin:2rem 0;
            .service {
                text-align:center;
                
            }
        }
}
.quickest_cargo , .logistic_solution ,.packaging_and_store {
    padding:1.5rem 1.65rem;

}


// ***************************************** our team ******************************




.section_5 {
    padding:4rem 0;
    .section_5_head {
        text-align:center;
        h3 {
            font-size:1.5rem;
            font-weight:500;
            color:$txt_grey;
            line-height: 1.5rem;
        }
        h2 {
            font-size:1.8rem;
            line-height:2.2rem;
            font-weight:700;
            color:$txt_black;
            padding:1.5rem 0;

        }   
    }
    .team {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:2rem;
        padding: 3rem 0;

        .members {
            padding:1.5rem 2rem;
            text-align:center;
            box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.6);
           
                .img_member {
                    border-radius:50%;
                }
                h2 {
                    font-size:1.2rem;
                    font-weight: 600;
                    line-height:1.5;
                    letter-spacing: 0.2;
                    color:$txt_blue;
                    padding:1rem 0 0.5rem 0;
                }
                h3 {
                    font-size:1rem;
                    font-weight:400;
                    line-height:1.4rem;
                    color:$txt_black;
                    padding:0 0 1.5rem 0;

                }
                p {
                    padding:0.5rem 0;
                }
                button {
                    background:$bg_blue;
                    margin:0.5rem;
                    padding:0.5rem 1rem;
                }

        }
    }
}

    



// *******************************************footer*************************************




$footer_bg: #08165F;
footer {
    padding:3rem 0 0 0 ;
    background:$footer_bg;
    .footer_container {
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        
    }
    
}
.cargoes {
    
    h2 {
        font-size:1.65rem;
        font-weight:600;
        color:$txt_white;
        line-height:2.1rem;
        margin:1.5rem 0;
        letter-spacing:0.1rem;
    }
    h3 {
        font-size:1rem;
        font-weight:400;
        color:$txt_white;
        display:inline-block;
        margin:0.5rem  0.5rem 0.5rem 0;
    }
    span {
        color:$txt_grey;
        font-size:0.9rem;
        font-weight:400;
    }
}
.service_links{
    text-align:center;
    padding:0 3rem 0 0;
    h2 {
        font-size:1.3rem;
        color:$txt_white;
        font-weight:500;
        line-height:1.4rem;
        margin:1.5rem 0;
        letter-spacing:0.1rem;

    }
    p {
        margin:1.4rem 0;
        font-size:0.9rem;
        color:$txt_grey;
        line-height:1.3rem;
        font-weight:400;

    }
}
.new_sletter {
    
    h2 {
        font-size:1.3rem;
        color:$txt_white;
        font-weight:500;
        line-height:1.4rem;
        margin:1.5rem 0;
        letter-spacing:0.1rem;

    }
    .mail_box {
        padding:0.1rem;
        background:$bg_white;
        input {
            border:none;
            padding:0.5rem 2.8rem 0 1rem;
            color:txt_grey;
        

        }
        input::placeholder {
            font-size:0.9rem;
            font-weight:400;
        }
        button {
            border:none;
            background:$bg_blue;
            i {
                font-size:1rem;
                padding:0.8rem;
                color:$txt_white;
            }
        }
    }
    p {
         margin:1.4rem 0;
        font-size:0.9rem;
        color:$txt_grey;
        line-height:1.4rem;
        font-weight:400;
    }
    .nav_link {
        display:flex;
        li {
            margin:0 0 0 0.7rem;
            padding:0.5rem;
            font-size:0.8rem;
            border-radius:75%;
            color:$txt_white;
        }
        .facebook {
            padding:0.5rem 0.7rem;
            background:#1D78D7;
            margin-left:0;
        }
        .twitter {
            background:#3AA1F2;

        }
        .rss {
            background:#EC6433;
            padding:0.5rem 0.6rem;
        }
    }
}
.quick_links {

   text-align:center;
    h2 {
        font-size:1.3rem;
        color:$txt_white;
        font-weight:500;
        line-height:1.4rem;
        margin:1.5rem 0;
        letter-spacing:0.1rem;

    }
    li {
        margin:1.4rem 0;
        font-size:0.9rem;
        color:$txt_grey;
        line-height:1.4rem;
        font-weight:400;  
     }
   }
   .top {
       padding:5rem 0 2rem 0;
       text-align:center;
       
       i {
        font-size:2rem;
       line-height:1.5rem;
       color:$txt-white;
       font-weight:700;
       }
        }
        .small {
            background:$bg_black;
            text-align:center;
            p {
                padding:1.5rem 0;
                color:$txt_white;
                font-size:0.9rem;
                letter-spacing:0.2rem;
                font-weight:400;
                line-height:1.2rem;
                background:$bg_black;
             }
             .span1 {
                border-left:1px solid $txt_white;
                padding:0 0.4rem 0 0;
                margin-left:0.3rem;
                 }
                 .w3layouts {
                     color:#E75932;
                 }
                 
             }
             .w3layouts:hover {
                 color:$txt_white;
             }
 
